.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.sticky-nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1;
  padding: 20px;
  background-color: #000;
}

.nav-grid {
  display: -ms-grid;
  display: grid;
  width: 100%;
  margin: 0px;
  padding: 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-flow: column;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  -ms-grid-columns: 1fr -webkit-max-content -webkit-max-content -webkit-max-content;
  -ms-grid-columns: 1fr max-content max-content max-content;
  grid-template-columns: 1fr -webkit-max-content -webkit-max-content -webkit-max-content;
  grid-template-columns: 1fr max-content max-content max-content;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.nav-logo-link {
  display: block;
  height: 60px;
  margin-right: 0px;
  margin-left: 0px;
  padding: 0px;
}

.nav-logo {
  width: auto;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 0% 50%;
  object-position: 0% 50%;
}

.nav-link {
  display: block;
  margin-right: 0px;
  margin-left: 0px;
  padding: 10px 0px;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
}

.button {
  background-color: #000;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
}

.heading {
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 83px;
  line-height: 100px;
  text-align: center;
}

.div-block {
  padding-top: 140px;
  padding-bottom: 140px;
}

.body {
  background-color: #000;
}

.feature-section {
  padding-top: 100px;
  padding-bottom: 100px;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-perspective: none;
  perspective: none;
}

.feature-image-mask {
  width: 100%;
  margin-right: 40px;
}

.feature-image {
  width: 100%;
  height: 100%;
  mix-blend-mode: normal;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.paragraph {
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 21px;
  line-height: 29px;
  text-align: center;
}

.heading-2 {
  font-family: Montserrat, sans-serif;
  color: #fff;
  text-align: center;
}

.footer {
  padding-top: 60px;
  padding-bottom: 40px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-align: center;
}

.footer-flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: left;
}

.footer-logo-link {
  max-height: 60px;
  min-width: 60px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.footer-image {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 0% 50%;
  object-position: 0% 50%;
}

.footer-heading {
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 14px;
  line-height: 1.5;
}

.footer-link {
  display: block;
  margin-bottom: 10px;
  font-family: Montserrat, sans-serif;
  color: #fff;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

.text-block {
  font-family: Montserrat, sans-serif;
  color: #fff;
}

.div-block-2 {
  text-align: center;
}

.div-block-3 {
  text-align: center;
}

.div-block-4 {
  text-align: center;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.body-2 {
  background-color: #000;
}

.heading-3 {
  margin-bottom: 140px;
  padding-top: 140px;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 93px;
  text-align: center;
}

.paragraph-2 {
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 27px;
  line-height: 36px;
  font-style: normal;
  text-align: center;
}

.text-span {
  color: #fff;
}

.heading-4 {
  font-family: Montserrat, sans-serif;
  color: #fff;
  text-align: center;
}

.heading-5 {
  font-family: Montserrat, sans-serif;
  color: #fff;
  text-align: center;
}

.link {
  color: #fff;
}

.text-block-2 {
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 23px;
  line-height: 53px;
  text-align: center;
}

.grid {
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.text-block-3 {
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 25px;
  line-height: 55px;
  text-align: center;
}

.text-block-4 {
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 25px;
  line-height: 55px;
  text-align: center;
}

.text-block-5 {
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 25px;
  line-height: 55px;
  text-align: center;
}

.text-block-6 {
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 25px;
  line-height: 55px;
  text-align: center;
}

.html-embed {
  text-align: center;
}

.text-span-2 {
  font-size: 18px;
}

@media screen and (max-width: 991px) {
  .heading {
    font-size: 47px;
  }

  .footer {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media screen and (max-width: 767px) {
  .sticky-nav {
    position: relative;
  }

  .nav-grid {
    text-align: center;
  }

  .heading {
    font-size: 41px;
  }

  .feature-section {
    padding: 40px 20px;
  }

  .flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .feature-image-mask {
    margin-right: 0px;
  }

  .feature-image {
    position: static;
    width: 34%;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    -o-object-fit: fill;
    object-fit: fill;
  }

  .heading-2 {
    text-align: center;
  }

  .footer {
    padding: 40px 20px;
  }

  .footer-image {
    -o-object-fit: contain;
    object-fit: contain;
  }
}

@media screen and (max-width: 479px) {
  .sticky-nav {
    padding: 0px;
  }

  .nav-grid {
    grid-auto-flow: row;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 100px;
    grid-template-rows: 100px;
  }

  .nav-logo-link {
    border-top: 1px solid #c4c4c4;
  }

  .nav-logo {
    width: auto;
    height: 100%;
  }

  .nav-link {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #c4c4c4;
  }

  .heading {
    font-size: 30px;
    -o-object-fit: fill;
    object-fit: fill;
  }

  .feature-image {
    width: 101%;
  }

  .paragraph {
    font-size: 16px;
    text-align: center;
  }

  .heading-2 {
    text-align: center;
  }

  .footer {
    padding-right: 20px;
    padding-left: 20px;
    text-align: left;
  }

  .footer-flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer-logo-link {
    height: 60px;
  }

  .footer-heading {
    margin-top: 20px;
  }

  .heading-3 {
    font-size: 52px;
  }

  .paragraph-2 {
    font-size: 17px;
  }
}

#w-node-_2ac583f9-c662-4e14-e44d-c72c24bfd532-24bfd52f {
  -ms-grid-column-align: start;
  justify-self: start;
}

@media screen and (max-width: 479px) {
  #w-node-_2ac583f9-c662-4e14-e44d-c72c24bfd532-24bfd52f {
    -ms-grid-column-align: center;
    justify-self: center;
  }
}